*{
  padding: 0px;
  margin: 0px;
}
body{
  background-color: #a8c9ff;
}

span{
  color: #009933;
}

h2{
  color: #cc0000;
}
.genero{
  border: 1px solid darkblue;
  margin: 3px;
  padding: 5px;
}
.juego{
  margin-top: 5px;
  padding-left: 10px;
  border-top: solid 3px black;
  border-right: dotted 2px black;
  border-radius: 10px
}
.portadaJuego{
  height: 114px;
  width: 114px;
  float: left;
  margin-right: 15px;
}
.floatclear{
  clear: left;
}
#tituloWeb{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 50px;
  position: relative;
  left: 10px;
}
#logo{
  float:right;
  position: relative;
  top: -62px;
  height: 260px;
  width: 5%;
  height: 5%;
}
#pie{
  background-color: gray;
  width: 100%;
  height: 200px;
}
