#formulario{
  margin: 10px;
  position: relative;
  left: 560px;
  top: 45px;
  height: 165px;
  width: 250px;
  border: 10px double #563B29;
  padding: 70px;
  padding-top: 30px;
  padding-bottom: 120px;
}
#cuerpo{
  height: 400px;
}
#user{
  left: 33px;
  position: relative;
}
#password{
  left: 4px;
  position: relative;
  margin-top: 10px;
}
#nombre{
  left: 33px;
  position: relative;
  margin-top: 10px;
}
#apellido{
  left: 30px;
  position: relative;
  margin-top: 10px;
}
#apellido2{
  left: 17px;
  position: relative;
  margin-top: 10px;
}
#direccion{
  left: 20px;
  position: relative;
  margin-top: 10px;
}
#sexo{
  left: 56px;
  position: relative;
  margin-top: 10px;
}
#intereses{
  left: 20px;
  position: relative;
  margin-top: 10px;
}
#enviar{
  margin-top: 20px;
  margin-left: 5%;
  width: 225px;
}
input{
  margin-top: 6px;
}
label{
  font-family: 'Jura', sans-serif;  font-weight: 450;
  color: grey;
}
